<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let tab of tabPanelList; let idx = index">
    <a
      class="nav-link"
      [class.active]="idx === activeIndex"
      (click)="activeIndexChange.emit(idx)"
      >{{ tab.title
      }}<button (click)="removeTab(tab)" class="btn btn-sm btn-danger">
        X
      </button>
    </a>
  </li>
</ul>

<div class="tab-body" *ngIf="tabPanelList.length; else noTabs">
  <ng-container
    *ngTemplateOutlet="tabPanelList[activeIndex].panelBody"
  ></ng-container>
</div>
<ng-template #noTabs>No tabs more</ng-template>
