.tab-headers {
  display: flex;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
  margin-bottom: 0.5rem;
}

.tab-header-item {
  margin-right: 0.5rem;
  padding: 5px 10px;
}

.tab-header-item.active {
  border: 1px solid red;
}
